In [3]:
import numpy as np
import pandas as pd

In [4]:
dataset = pd.read_csv(r"C:\Users\mahee\Downloads\Multiple Linear Regression\50_Startups_dataset.csv")
dataset.head(10)

,Unnamed: 0,R&D Spend,Administration,Marketing Spend,State,Profit
0,0,165349.30,136897.90,471784.20,New York,192261.93
1,1,162597.80,151377.69,443898.63,California,191792.16
2,2,153441.61,101145.65,407934.64,Florida,191050.49
3,3,144372.51,118671.95,383199.72,New York,182902.09
4,4,142107.44,91391.87,366168.52,Florida,166188.04
5,5,131877.00,99814.81,362861.46,New York,156991.22
6,6,134615.56,147198.97,127716.92,California,156122.61
7,7,130298.23,145530.16,323876.78,Florida,155752.70
8,8,120542.62,148719.05,311613.39,New York,152211.87
9,9,123334.98,108679.27,304981.72,California,149760.06

In [5]:
dataset.drop("Unnamed: 0", axis = 1, inplace = True)
dataset.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.30       136897.90        471784.20    New York  192261.93
1  162597.80       151377.69        443898.63  California  191792.16
2  153441.61       101145.65        407934.64     Florida  191050.49
3  144372.51       118671.95        383199.72    New York  182902.09
4  142107.44        91391.87        366168.52     Florida  166188.04
5  131877.00        99814.81        362861.46    New York  156991.22
6  134615.56       147198.97        127716.92  California  156122.61
7  130298.23       145530.16        323876.78     Florida  155752.70
8  120542.62       148719.05        311613.39    New York  152211.87
9  123334.98       108679.27        304981.72  California  149760.06

In [6]:
dataset.shape

(50, 5)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [8]:
# define input features(X) and output feature(Y)
X = dataset.iloc[:,:-1]
Y = dataset.iloc[:,-1].values

In [9]:
print("Shape of X: ", X.shape)
print("Shape of Y: ", Y.shape)

Shape of X:  (50, 4)
Shape of Y:  (50,)

In [10]:
print(X) # data is categorized in cities
print("Unique cities: ", X["State"].unique())

    R&D Spend  Administration  Marketing Spend       State
0   165349.30       136897.90        471784.20    New York
1   162597.80       151377.69        443898.63  California
2   153441.61       101145.65        407934.64     Florida
3   144372.51       118671.95        383199.72    New York
4   142107.44        91391.87        366168.52     Florida
5   131877.00        99814.81        362861.46    New York
6   134615.56       147198.97        127716.92  California
7   130298.23       145530.16        323876.78     Florida
8   120542.62       148719.05        311613.39    New York
9   123334.98       108679.27        304981.72  California
10  101913.18       110594.21        229161.05     Florida
11  100672.06        91790.71        249744.65  California
12   93863.85       127320.48        249839.54     Florida
13   91992.49       135495.17        252665.03  California
14  119943.34       156547.52        256513.02     Florida
15  114523.71       122616.94        261776.33    New York
16   78013.21       121597.65        264346.16  California
17   94657.26       145077.68        282574.41    New York
18   91749.26       114175.89        294919.67     Florida
19   86419.80       153514.21             0.10    New York
20   76253.96       113867.40        298664.57  California
21   78389.57       153773.53        299737.39    New York
22   73994.66       122782.85        303319.36     Florida
23   67532.63       105751.13        304768.83     Florida
24   77044.11        99281.44        140574.91    New York
25   64664.81       139553.26        137962.72  California
26   75328.97       144136.08        134050.17     Florida
27   72107.70       127864.65        353183.91    New York
28   66051.62       182645.66        118148.30     Florida
29   65605.58       153032.16        107138.48    New York
30   61994.58       115641.38         91131.34     Florida
31   61136.48       152702.02         88218.33    New York
32   63408.96       129219.71         46085.35  California
33   55494.05       103057.59        214634.91     Florida
34   46426.17       157694.02        210797.77  California
35   46014.12        85047.54        205517.74    New York
36   28663.86       127056.31        201126.92     Florida
37   44070.05        51283.24        197029.52  California
38   20229.69        65948.03        185265.20    New York
39   38558.61        82982.19        174999.40  California
40   28754.43       118546.15        172795.77  California
41   27893.02        84710.87        164470.81     Florida
42   23641.03        96189.73        148001.21  California
43   15505.83       127382.40         35534.27    New York
44   22177.84       154806.24         28334.82  California
45    1000.33       124153.14          1904.03    New York
46    1315.56       115816.31        297114.56     Florida
47       0.10       135427.02             0.10  California
48     542.15        51743.25             0.10    New York
49       0.10       116983.90         45173.16  California
Unique cities:  ['New York' 'California' 'Florida']

In [11]:
#As there are categorical values present in the city column of the dataset, 
#we need to perform categorical encoding. For this purpose,
#the one-hot encoding method is suitable as the categories here are nominal.

In [12]:
#one hot encoding of the city column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [3])], remainder = "passthrough")
X = np.array(ct.fit_transform(X))
print ("Input features: ", X)
print("Input shape: ", X.shape)

Input features:  [[0.0000000e+00 0.0000000e+00 1.0000000e+00 1.6534930e+05 1.3689790e+05
  4.7178420e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 1.6259780e+05 1.5137769e+05
  4.4389863e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 1.5344161e+05 1.0114565e+05
  4.0793464e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.4437251e+05 1.1867195e+05
  3.8319972e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 1.4210744e+05 9.1391870e+04
  3.6616852e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.3187700e+05 9.9814810e+04
  3.6286146e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 1.3461556e+05 1.4719897e+05
  1.2771692e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 1.3029823e+05 1.4553016e+05
  3.2387678e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.2054262e+05 1.4871905e+05
  3.1161339e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 1.2333498e+05 1.0867927e+05
  3.0498172e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 1.0191318e+05 1.1059421e+05
  2.2916105e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 1.0067206e+05 9.1790710e+04
  2.4974465e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 9.3863850e+04 1.2732048e+05
  2.4983954e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 9.1992490e+04 1.3549517e+05
  2.5266503e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 1.1994334e+05 1.5654752e+05
  2.5651302e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.1452371e+05 1.2261694e+05
  2.6177633e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 7.8013210e+04 1.2159765e+05
  2.6434616e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 9.4657260e+04 1.4507768e+05
  2.8257441e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 9.1749260e+04 1.1417589e+05
  2.9491967e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 8.6419800e+04 1.5351421e+05
  1.0000000e-01]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 7.6253960e+04 1.1386740e+05
  2.9866457e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 7.8389570e+04 1.5377353e+05
  2.9973739e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 7.3994660e+04 1.2278285e+05
  3.0331936e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 6.7532630e+04 1.0575113e+05
  3.0476883e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 7.7044110e+04 9.9281440e+04
  1.4057491e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 6.4664810e+04 1.3955326e+05
  1.3796272e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 7.5328970e+04 1.4413608e+05
  1.3405017e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 7.2107700e+04 1.2786465e+05
  3.5318391e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 6.6051620e+04 1.8264566e+05
  1.1814830e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 6.5605580e+04 1.5303216e+05
  1.0713848e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 6.1994580e+04 1.1564138e+05
  9.1131340e+04]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 6.1136480e+04 1.5270202e+05
  8.8218330e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 6.3408960e+04 1.2921971e+05
  4.6085350e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 5.5494050e+04 1.0305759e+05
  2.1463491e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 4.6426170e+04 1.5769402e+05
  2.1079777e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 4.6014120e+04 8.5047540e+04
  2.0551774e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 2.8663860e+04 1.2705631e+05
  2.0112692e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 4.4070050e+04 5.1283240e+04
  1.9702952e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 2.0229690e+04 6.5948030e+04
  1.8526520e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 3.8558610e+04 8.2982190e+04
  1.7499940e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 2.8754430e+04 1.1854615e+05
  1.7279577e+05]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 2.7893020e+04 8.4710870e+04
  1.6447081e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 2.3641030e+04 9.6189730e+04
  1.4800121e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.5505830e+04 1.2738240e+05
  3.5534270e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 2.2177840e+04 1.5480624e+05
  2.8334820e+04]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 1.0003300e+03 1.2415314e+05
  1.9040300e+03]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 1.3155600e+03 1.1581631e+05
  2.9711456e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 1.0000000e-01 1.3542702e+05
  1.0000000e-01]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 5.4215000e+02 5.1743250e+04
  1.0000000e-01]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 1.0000000e-01 1.1698390e+05
  4.5173160e+04]]
Input shape:  (50, 6)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 1/3, random_state = 0)

# Checking the shape of the training and test sets
print('Shape of the training patterns:', X_train.shape, Y_train.shape)
print('Shape of the test patterns:', X_test.shape, Y_test.shape)

Shape of the training patterns: (33, 6) (33,)
Shape of the test patterns: (17, 6) (17,)

In [14]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

regressor.fit(X_train, Y_train)

LinearRegression()

In [15]:
# Checking the regression coefficients of the fitted model
print('The regression coefficients are:', regressor.coef_)

The regression coefficients are: [-1.86280085e+03  4.06383296e+03 -2.20103211e+03  8.28371991e-01
  5.03972419e-02  2.21861926e-02]

In [58]:
# Checking the intercept
print('The intercept', regressor.intercept_)

The intercept 41011.49925654712

In [59]:
y_pred = regressor.predict(X_test)

print("Predicted Profit:\n ", pd.DataFrame(data = {"Actual Profit": Y_test,"Predicted Profit":y_pred}))

Predicted Profit:
      Actual Profit  Predicted Profit
0       103282.48     111616.742595
1       144259.50     132709.494663
2       146122.05     140155.210338
3        77798.93      76099.303982
4       191050.49     186330.042404
5       105008.41     112822.298073
6        81229.16      63002.103948
7        97483.66      99107.204281
8       110352.35     119287.854734
9       166188.04     175522.938647
10       96779.02     101000.798615
11       96479.61      85773.092932
12      105733.64     117713.864815
13       96712.90      90230.980852
14      124267.00     133375.143895
15      155752.70     167530.647658
16      132602.75     158013.646021

In [60]:
from sklearn.metrics import mean_squared_error, r2_score
import math

In [63]:
MSE = mean_squared_error(Y_test, y_pred)
print ("Mean Squared Error: ", MSE)

Mean Squared Error:  118348525.67034309

In [64]:
RMSE = math.sqrt(MSE)

print ("Root Mean Squared Error: ", RMSE)

Root Mean Squared Error:  10878.810857365941

In [67]:
R_Squared = r2_score(Y_test, y_pred)
print('R-Squared is:', R_Squared)

R-Squared is: 0.8752655285740152

In [69]:
Adjusted_R_Squared = 1- ( ((1-R_Squared) *(X_train.shape[0] -1 ))/ (X_train.shape[0] - X_train.shape[1] - 1))

print('Adjusted R-Squared is:', Adjusted_R_Squared)

Adjusted R-Squared is: 0.8464806505526341

In [37]:
def character_frequency(string1):
    chars = []
    for i in string1:
        if i not in chars:
            chars.append(i)
    output = {key: 0 for key in chars}
    
    for i in output.keys():
        for j in string1:
            if i == j:
                output[i] += 1
    return output
print(character_frequency("Tdsd"))

{'T': 1, 'd': 2, 's': 1}